version: 2.0.{build}
branches:
    only:
      - master
pull_requests:
  do_not_increment_build_number: true
image: Visual Studio 2019
## temporary until 3.0.100 sdk is installed
install:
  - ps: $urlCurrent = "https://dotnetcli.blob.core.windows.net/dotnet/Sdk/3.0.100/dotnet-sdk-3.0.100-win-x64.zip"
  - ps: $env:DOTNET_INSTALL_DIR = "$pwd\.dotnetsdk"
  - ps: mkdir $env:DOTNET_INSTALL_DIR -Force | Out-Null
  - ps: $tempFileCurrent = [System.IO.Path]::GetTempFileName()
  - ps: (New-Object System.Net.WebClient).DownloadFile($urlCurrent, $tempFileCurrent)
  - ps: Add-Type -AssemblyName System.IO.Compression.FileSystem; [System.IO.Compression.ZipFile]::ExtractToDirectory($tempFileCurrent, $env:DOTNET_INSTALL_DIR)
  - ps: $env:Path = "$env:DOTNET_INSTALL_DIR;$env:Path"
nuget:
  disable_publish_on_pr: true

build_script:
  - ps: dotnet restore Bet.AspNetCore.sln -v quiet
  - ps: dotnet build Bet.AspNetCore.sln /p:configuration=Release /p:Version=$($env:appveyor_build_version)

test_script:
  - ps: dotnet test test/Bet.AspNetCore.UnitTest/Bet.AspNetCore.UnitTest.csproj -c Release --no-build
  - ps: dotnet test test/Bet.Extensions.UnitTest/Bet.Extensions.UnitTest.csproj -c Release --no-build

artifacts:
- path: .\src\**\*.nupkg
  name: NuGet package

deploy:
- provider: NuGet
  artifact: /NuGet/
  api_key:
    secure: jrexooMHJwdbj5MGacSL9fCj3g2haDXMarPEkiLpdIZmasb/zeMYb0NVofvi5HvJ
  on:
    branch: master
# - provider: GitHub
#   auth_token:
#     secure: dr3CAHeVEOYYA3iomPpKm6kloFkuIrYyw/MrtWI1xJpSME70pxAASHm47oSSnnbMTWbAXa0mnWzgjog7QaF+GQ==
#   artifact: /NuGet/
#   tag: v$(appveyor_build_version)
#   on:
#     branch: master
